<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmu.willqian.alarmclockhue">


    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.PHHomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity">

        </activity>
        <activity
            android:name=".activities.PHPushlinkActivity">
        </activity>
        <receiver android:name=".receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="alarm_receiver" />
            </intent-filter>
        </receiver>
        <service
            android:name=".service.MusicService">
            <intent-filter>
                <action android:name="music_service" />
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>
        <service
            android:name=".service.HueService">
            <intent-filter>
                <action android:name="hue_service" />
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>
    </application>

</manifest>